<div class="nav--top">
	<a class="nav--top__link" href="#top"><i class="fas fa-chevron-up fa-2x"></i></a>
</div>
<footer>
	<p class="footer__copyright">Copyright <i class="far fa-copyright"></i> 2019 Five Star Bathroom.</p>
	<p class="footer__copyright">Designed by <a href="http://zbframe.com" target="_blank">ZBframe</a>.</p>
</footer>



